body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
body,
html {
  height: 100%;
  line-height: 1.8;
  background-color: #eeeeee !important;
}
a {
  color: black !important;
}
img {
  max-width: 100%;
  max-height: 100%;
}
/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/mac.jpg");
  min-height: 100%;
}
.w3-bar .w3-button {
  padding: 16px;
}

.full-height-row {
  height: 250px;
}

/* Info Section */
#info {
  margin-top: 60px;
}

#info-pic {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  padding: 40px;
}

#pic-col {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

#info-container {
  margin: 0px;
  width: 100%;
}

#name-text {
  height: 170px;
}

#team-name {
  font-size: 28px;
  padding-top: 25px;
}

#info-border {
  padding-bottom: 0px;
}

li > a {
  border-right: 1px solid #eee;
  border-radius: 100px;
}

.nav-pills > li > a {
  border-radius: 0px !important;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background-color: #eee !important;
  color: black !important;
}

.nav-pills > li.active > a {
  color: black !important;
}

li.lakers > a {
  color: black;
  border-right: 1px solid grey;
  border-radius: 100px;
}

.nav-pills > li.lakers > a {
  border-radius: 0px !important;
}

.nav-pills > li.lakers.active > a,
.nav-pills > li.lakers.active > a:focus,
.nav-pills > li.lakers.active > a:hover {
  color: #ffc72c !important;
  background-color: #702f8a !important;
}

#info-container-max {
  background-color: white !important;
}

#info-text {
  font-size: 18px;
}

#roster-header {
  margin-top: 50px;
  height: 50px;
}

#roster-header-text {
  line-height: 50px;
  font-size: 20px;
  padding-left: 15px;
  color: silver;
}

#tabs-container {
  background-color: #eeeeee !important;
  margin-top: 0px;
}

#team-rankings-header {
  background-color: black;
  height: 50px;
}

.chart-row {
  padding-top: 50px;
}

#stat-comp-header {
  background-color: black;
  height: 50px;
  margin-top: 50px;
}

#container {
  margin-top: 50px;
}

div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.playerScatter {
  margin-top: 0px;
}

#team-player-ranks-container {
  overflow-y: hidden;
}

.title-header {
  background-color: black;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  padding-left: 25px;
  color: silver;
}

.guage-header {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
}

.guage-header.lakers {
  background-color: #702f8a;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #ffc72c;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
}

/* .highcharts-yaxis-grid .highcharts-grid-line {
  display: none;
} */

.gauge-header-div {
  margin-bottom: 25px;
}

#info-pic-team {
  width: 100%;
  height: auto;
  padding-top: 20px;
}

#info-box-stats {
  padding-bottom: 15px;
}

.nav-pills > .active > a,
.nav-pills > .active > a:focus,
.nav-pills > .active > a:hover {
  color: black !important;
  background-color: white !important;
}

.nav-pills > li.active > a {
  color: black !important;
}

#gleagueheader {
  text-align: center;
  padding-top: 10px;
  color: #c4cfd5;
}

#gLeaguePic {
  max-height: 125px;
  margin: 0 auto;
}

#affiliate-pic {
  text-align: center;
  padding-top: 20px;
}

#teamLogoHeader {
  text-align: center;
  padding-top: 10px;
}

#teamLogoPic {
  max-height: 125px;
  margin: 0 auto;
}

#logo-pic {
  text-align: center;
  padding-top: 20px;
}

#search-div {
  background-color: transparent;
  position: fixed;
  z-index: 2;
  margin-top: 53px;
  height: 40px;
  float: right;
  right: 0;
  margin-right: 125px;
}

#myNavbar {
  z-index: 3;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input {
  width: 400px;
  height: 40px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 2px;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 30px;
  width: 400px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.react-autosuggest__suggestion--focused {
  background-color: #0c7eaf;
  color: #fff;
}

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.name {
  margin-left: 68px;
  line-height: 45px;
}

.react-autosuggest__suggestion--focused .highlight {
  color: #120000;
}

.glyphicon-star {
  font-size: 22px;
  color: #e6b222;
}

.glyphicon-star.empty {
  font-size: 22px;
  color: #bdc3c7;
}

.glyphicon-star.half {
  position: relative;
}

.glyphicon-star.half:before {
  position: relative;
  z-index: 9;
  width: 47%;
  display: block;
  overflow: hidden;
}
.glyphicon-star.half:after {
  content: "\e006";
  position: absolute;
  z-index: 8;
  color: #bdc3c7;
  top: 0;
  left: 0;
}

.rating {
  padding-left: 5px;
}
