body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
body,
html {
  height: 100%;
  line-height: 1.8;
  background-color: #eeeeee !important;
}
img {
  max-width: 100%;
  max-height: 100%;
}
/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/mac.jpg");
  min-height: 100%;
}
.w3-bar .w3-button {
  padding: 16px;
}

.full-height-row {
  height: 250px;
}

/* Info Section */
#info {
  margin-top: 60px;
}

#info-pic {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  padding: 40px;
}

#pic-col {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

#info-container {
  margin: 0px;
}

#name-text {
  height: 170px;
}

#team-name {
  font-size: 28px;
  padding-top: 25px;
}

#info-border {
  padding-bottom: 0px;
}

li > a {
  color: black;
  border-right: 1px solid grey;
  border-radius: 100px;
}

.nav-pills > li > a {
  border-radius: 0px !important;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: silver !important;
  background-color: black !important;
}

li.lakers > a {
  color: black;
  border-right: 1px solid grey;
  border-radius: 100px;
}

.nav-pills > li.lakers > a {
  border-radius: 0px !important;
}

.nav-pills > li.lakers.active > a,
.nav-pills > li.lakers.active > a:focus,
.nav-pills > li.lakers.active > a:hover {
  color: #ffc72c !important;
  background-color: #702f8a !important;
}

#info-container-max {
  background-color: white !important;
}

#info-text {
  font-size: 18px;
}

#roster-header {
  margin-top: 50px;
  background-color: black;
  height: 50px;
}

#roster-header-text {
  line-height: 50px;
  font-size: 20px;
  padding-left: 15px;
  color: silver;
}

#tabs-container {
  background-color: #eeeeee !important;
  margin-top: 0px;
}

#team-rankings-header {
  background-color: black;
  height: 50px;
}

.chart-row {
  padding-top: 50px;
}

#stat-comp-header {
  background-color: black;
  height: 50px;
  margin-top: 50px;
}

#container {
  margin-top: 50px;
}

div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#team-player-ranks-container {
  overflow-y: hidden;
}

.title-header {
  background-color: black;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  padding-left: 25px;
  color: silver;
}

.guage-header {
  background-color: black;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: silver;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
}

.guage-header.lakers {
  background-color: #702f8a;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #ffc72c;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
}

.highcharts-yaxis-grid .highcharts-grid-line {
  display: none;
}

.gauge-header-div {
  margin-bottom: 25px;
}

#info-pic-team {
  width: 100%;
  height: auto;
  padding-top: 20px;
}
